@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  /*primary*/
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --check-box: url("./images/icon-check.svg");
}

.light-theme {
  --color-bg: hsl(230, 3%, 92%);

  --color-text-grey: hsl(240, 5%, 63%);
  --color-text: hsl(244, 11%, 47%);
  --color-input: hsl(0, 0%, 100%);
  --color-hover: hsl(236, 24%, 38%);

  --theme-img: url("./images/icon-moon.svg");
  --background-img: url("./images/bg-desktop-light.jpg");
  --mobile-img: url("./images/bg-mobile-light.jpg");
}

.dark-theme {
  --color-bg: hsl(240, 33%, 9%);
  --color-text-grey: hsl(240, 5%, 63%);
  --color-input: hsl(235, 38%, 16%);
  --color-text: hsl(236, 12%, 80%);
  --color-hover: hsl(231, 9%, 86%);
  --theme-img: url("./images/icon-sun.svg");
  --background-img: url("./images/bg-desktop-dark.jpg");
  --mobile-img: url("./images/bg-mobile-dark.jpg");
}

/* General Theme */
html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
}

.container {
  max-width: 55rem;

  margin: 0 auto;
}

.container1 {
  max-width: 55rem;
  position: absolute;
  top: 16rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Working on header */

header {
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7rem;
}

.title h1 {
  letter-spacing: 1rem;
  color: #fff;
  font-size: 5rem;
}

.icons-theme {
  background: var(--theme-img);
  background-size: cover;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

/* Input Section */

.input-area {
  display: flex;
  align-items: center;

  border-radius: 5px;
  padding: 1rem;
  height: 6rem;
  background-color: var(--color-input);
  margin-bottom: 2.5rem;
}
.input {
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  margin-left: 2rem;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-text);
}

.input::placeholder {
  color: var(--color-text-grey);
}

input:focus {
  outline: none;
}

.check {
  margin-left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-text-grey);
  border-radius: 50%;
}

/*Content list  */

.content {
  margin-bottom: 5rem;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 6rem;
  background-color: var(--color-input);
  cursor: grab;
}

.list-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Element list */

.btn-delete {
  display: none;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.list-item:hover > .btn-delete {
  display: block;
  opacity: 0.7;
}
.btn-check {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--color-text-grey);
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}

.btn-check:hover {
  border: 1px solid hsl(280, 87%, 65%);
}

.complete-btn {
  background: var(--check-box) no-repeat center, var(--check-bg);
  text-decoration: line-through;
}
.text {
  color: var(--color-text);
}
.complete span {
  text-decoration: line-through;
  color: var(--color-text-grey);
}

/* Filters */

.todoFilters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  height: 6rem;
  background-color: var(--color-input);
  color: var(--color-text-grey);
  font-size: 1.6rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn--clear {
  background: transparent;
  border: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--color-text-grey);
}

.btn--clear:hover {
  color: var(--color-hover);
}

.btn-radio {
  visibility: hidden;
}

.btn-radio-cat {
  cursor: pointer;
}
.btn-radio-cat:hover {
  color: var(--color-hover);
}

input[type="radio"]:checked + label {
  color: var(--bright-blue);
}

.attribution {
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.dragging {
  opacity: 0.5;
}

.drag-info {
  text-align: center;
  margin-top: 5rem;
  color: var(--color-text);
  font-size: 1.6rem;
}

@media (max-width: 580px) {
  html {
    font-size: 57.5%;
  }
  header {
    background-image: var(--mobile-img);
  }
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .container1 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .todoFilters {
    font-size: 1.2rem;
  }
  .btn--clear {
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .todoFilters {
    font-size: 1.3rem;
  }
  .btn--clear {
    font-size: 1rem;
  }
}
